
#title{
  background-color: #ff4c68;
  color: white;
}

.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
  padding: 0px 18px;
}

.nav-link{
  font-family:'Montserrat';
  font-size:1.2rem;
}

h1{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat"
  font-size: 2rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat';
  font-size: 2rem;
  line-height: 1.5;

}

p{
  color: #8f8f8f;
}

.container-fluid{
  padding : 3% 15%;
}

.dog-img{
  padding-left: 3rem;
  position: absolute;
  width: 60%;
  top: 5px;
  transform: rotate(20deg);
}

.navbar-brand{
  font-family: 'ubuntu';
  font-size: 3rem;
  font-weight: bold;
}

.download-btn{
  margin :5px 5px 2px 5px;

}

#features {
padding: 5% 15%;
background-color: white;
position: relative;
}

.feature-box{
  text-align: center;
  width: 27%;
  margin-left: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color : #ff4c68;
}

#testimonials{
  padding: 5% 15%;
  background-color: #ef8172;
  color: white;
  text-align: center;
}

.testimonial-img{
border-radius: 100%;
width: 15%;
margin: 20px;
}

#press{
  text-align: center;
  background-color: #ef8172;
}

.press-logo{
  width: 15%;
  margin: 25px 20px;
}

#pricing{
  padding: 100px;
}

.pricing-col{
  padding:2% 3%;
}

@media (max-width:1028px){
  #title{
    text-align: center;

}

  .dog-img{
    position: static;
    transform: rotate(0deg);
    width: 60%;
    padding-top:2%
  }
}

#cta{
  background-color: #ff4c68;
  color: white;
  padding: 3% 27%;
  text-align: center;
}

.fa-2x{
  margin: 10px 10px;
}
#cta > h3{
  padding-bottom: 1%;
}

#footer{
  text-align: center;
  padding: 7% 15%;
}

#footer > p{
  padding-top: 20px;
  text-align: center;
}

.fab{
  padding-left:20px;
}
